body {
    background-color: white;
    color: black;
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 15px;
    max-width: 900px;
    transition: 0.3s;
}
nav {
    background-color: #1a1a1a;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: #ff0033;
}

h1 {
    color: #ff0033;
}

button {
    background-color: #ff0033;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px;
}

/* DARK MODE */
.dark-mode {
    background-color: #0f0f0f;
    color: white;
}

input {
    padding: 8px;
    color: black;
}

.dark-mode input {
    background-color: #222;
    color: white;
    border: 1px solid white;
}

#taskList {
    margin-top: 10px;
}

#taskList li {
    margin: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}
.hero-card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 500px;
}

.hero-card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}
body {
    max-width: 900px;
    margin: auto;
    padding: 15px;
}

button {
    margin: 5px;
}

input {
    width: 90%;
    max-width: 400px;
}
.project-card {
    background: rgba(255,255,255,0.08);
    border-radius: 15px;
    padding: 15px;
    margin: 15px auto;
    max-width: 600px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
}
.hero-card p {
    margin: 10px 0;
}
